.home {
  background-color: #eef2f7;
  padding: 6rem 2rem;
  text-align: center;
  animation: fadeIn 1s ease;
}

.home h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #222;
}

.home p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
}